<h4>Album Name: <%= @search_albums.name %></h4>
<h4>Album Artist: <%= @search_albums.artist %></h4>
<h4>Album Year: <%= @search_albums.year %></h4>
<h4>Album Genre: <%= @search_albums.genre %></h4>

<a href="/albums">Return to album list</a>

