<h1>Question 1</h1>

<p>What can bring back the dead; make you cry, make you laugh, make you young; is born in an instant, yet lasts a lifetime.</p>

<form action="/result1" method="post">
  <div class="form-group">
    <label for="answer">Answer</label>
    <input id="n" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>