<h1>Question 3</h1>

<p>Some try to hide, some try to cheat; but time will show, we always will meet. Try as you might to guess my name.</p>

<form action="/question4" method="post">
  <div class="form-group">
    <label for="answer">Answer</label>
    <input id="n" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>