<h1>Question 5</h1>

<p>I'm alive, but without breath; I'm as cold in life as in death; I'm never thirsty, though I always drink.</p>

<form action="/result" method="post">
  <div class="form-group">
    <label for="answer">Answer</label>
    <input id="n" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>