<h1>Question 2</h1>

<p>This thing all things devour: birds, beasts, trees, flowers; gnaws iron, bites steel; grinds hard stones to the meal.</p>

<form action="/result2" method="post">
  <div class="form-group">
    <label for="answer">Answer</label>
    <input id="n" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>