<h1>Question 4</h1>

<p>As small as your thumb, I am light in the air. You may hear me before you see me, but trust that I'm here.</p>

<form action="/question5" method="post">
  <div class="form-group">
    <label for="answer">Answer</label>
    <input id="n" name="answer" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>